/*variables.scss*/
$white: #fff; 
$black: #000000;
$darkGray: #3D6666;
$mediumDarkGray: #547878;
$lightDarkGray: #5E7A7D;
$gray: #7F9D9F;
$lightGray: #9EBBBD;
$lighterGray: #C5E4E7;
$whiteGray: #F3F9FA;
$darkGreen: #00474B;
$mediumDarkGreen: #085C61;
$mediumGreen: #0D686D;
$lightGreen: #26C2AE;
$lighterGreen: #9FE8DF;
$orange: #E17052;
$font:  "Space Mono", monospace;