@use '../utility/_index' as utility;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*font-family: utility.$font;*/
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: utility.$font;
    background-color: utility.$lighterGray;
    min-height: 100vh;
}

main {
    overflow: hidden;
}

.calculator {
    background-color: utility.$white;
    cursor: pointer;
}